---
import BlogCard from "../components/BlogCard";
import Button from "../components/Button";
import ProjectCard from "../components/ProjectCard";
import Group from "../components/Group";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { siteConfig } from "../config";
import FriendCard from "../components/FriendCard";

const allBlogPosts = await getCollection("blog");
---

<Layout title={siteConfig.name}>
  <header class="mb-8">
    <div class="flex flex-col">
      <img
        class="w-24 h-24 rounded-full mr-5 mb-5"
        src={siteConfig.logo}
        alt="Logo"
      />
      <div>
        <h1 class="text-2xl font-bold">
          Hello, I'm <span class="text-blue-500">{siteConfig.name}</span>
        </h1>
        <p class="text-gray-500 dark:text-gray-300">{siteConfig.description}</p>
        <div>
          {
            siteConfig.social.map((social) => (
              <a
                class="inline-block mt-2 mr-3  text-sm text-gray-400 hover:text-black dark:hover:text-white"
                href={social.link}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Fragment set:html={social.icon} />
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </header>
  <div class="mb-8">
    <p class="text-gray-500 dark:text-gray-300">
      {siteConfig.about}
    </p>
  </div>
  <div class="mb-8">
    <Button><a href="/projects">Projects</a></Button>
    <Group>
      {
        siteConfig.projects.map((project) => (
          <ProjectCard
            title={project.title}
            description={project.description}
            href={project.link}
            icon={project.icon}
          />
        ))
      }
    </Group>
    <div class="mb-8">
      <Button><a href="/posts">Blogs</a></Button>
      {
        allBlogPosts
          .slice(0, siteConfig.homeBlogCount)
          .map((post) => (
            <BlogCard
              title={post.data.title}
              description={post.data.description}
              cover={post.data.cover}
              href={`/posts/${post.slug}`}
            />
          ))
      }
    </div>
    <div class="mb-8">
      <Button>Friends</Button>
      <Fragment client:load>
        <div class="max-h-[200px] w-full overflow-auto flex flex-wrap flex-col">
          {
            siteConfig.friends
              .sort(() => 0.5 - Math.random())
              .map((friend) => (
                <FriendCard
                  title={friend.title}
                  href={friend.link}
                  icon={friend.icon}
                  description={friend.description}
                />
              ))
          }
        </div>
      </Fragment>
    </div>
  </div>
</Layout>
